{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Comic Vault</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Vault/styles/style.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  </head>


  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ComicVault</a>
        </div>
        <ul class="nav navbar-nav">
          <!--li class="active"><a href="#">Home</a></li-->
        </ul>

        <form class="nav navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>


    <div class="container">

      <div class="row info">
        <div class"col-sm-4" style="background-color:cyan;">
          {% if comic_entry %}
            {% for comic in comic_entry %}
              <div class="titleText" >{{ comic.series }}</div>
              <div>Vol: {{ comic.volume }}</div>
              <div>Issue: {{ comic.issue }}</div>
              <div>Writer: {{ comic.writer }}</div>
              <div>illustrator: {{ comic.illustrator }}</div>
              <div>colorist: {{ comic.colorist }}</div>
              <div>publisher: {{ comic.publisher }}</div>
              <div>cover_art:</div> <img src="{{ comic.cover_art }}" alt="comic cover here">
              <div>spoiler_free_synopsis: {{ comic.spoiler_free_synopsis }}</div>
              <div>full_synopsis: {{ comic.full_synopsis }}</div>
              <div>characters: {{ comic.characters }}</div>
              <div>average_rating: {{ comic.average_rating }}</div>

            {% endfor %}
          {% else %}
              <p>No comic exists for id</p>
          {% endif %}
        </div>
        <div class"col-sm-8"  style="background-color:red;">

          <div>IT"S NOT GETTING INTO COLUMNS</div>

        </div>
      </div>

    </br>
    </br>

      <div class="row">
        <div class"col-sm-8" style="background-color:cyan;">
          <ul>
            {% if comic_comment_list %}
              {% for comic_comment in comic_comment_list %}
                <div><img src="{{ comic_comment.user_profile_id.profile_picture }}" alt="user pic here" style="width:64px;height:64px;">
                   {{ comic_comment.user_profile_id }} at {{ comic_comment.timestamp }}</div>
                <div>{{ comic_comment.content }}</div>

              {% endfor %}
            {% else %}
                <div>No comments exists for id</div>
            {% endif %}
          </ul>

        </div>
        <div class"col-sm-4"  style="background-color:red;">
          <div>aaa</div>
        </div>
      </div>

    </div>
  </body>
</html>
