{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
  <head>
    <title>Comic Vault</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'Vault/styles/style.css' %}">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Comic Vault</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
        <li class="dropdown">
            <a class="nav-link dropdown-toggle bg-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Search</a>
            <div class="dropdown-menu bg-dark navbar-dark navbar-expand-lg">
                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'search' %}">Comic Search</a>
                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'usersearch' %}">User Search</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
</nav>

    <!--TODO move title to top always -->

    <div class="container content">
      {% if comic_entry %}

        <!-- title -->
        <div class="row pt-3">

          <div class="col-sm-12 text-center text-md-left">
            <span class="display-4">{{ comic_entry.series }}</span>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-12 border-bottom text-center text-md-left">
            <span class="lead text-secondary">Vol: {{ comic_entry.volume }}, Issue: {{ comic_entry.issue }}</span>
          </div>
        </div>

        <div class="row">
          <!-- picture/short info -->
          <div class="col-sm-4 order-sm-8 justify-content-center bg-light">
            </br>
            <img class="rounded mx-auto d-block" src="{{ comic_entry.cover_art }}" alt="No Image Available">

            <!-- ratings -->
            <div class="text-center border-bottom lead">
              </br>
              <div>
                Overall Rating:
                {% if comic_rating_average != 0 %}
                  {{ comic_rating_average.rating__avg }}
                {% else %}
                  -
                {% endif %}
                / 5
              </div>

              <!-- TODO dropdown vv -->
              <div>
                Your rating:
                {% if user_rating %}
                  {{ user_rating.rating }} / 5
                  <form method="post">
                      <div class="mr-3">
                          {% csrf_token %}
                          {{ comicratingform | bootstrap }}
    		                  <input type="submit" value="Submit" name="ComicRating" class="btn btn-primary mb-3" style="background-color: #2E2E2E; border: none;"/>
                      </div>
		              </form>
                {% else %}
                  - / 5
                  <form method="post">
                      <div class="mr-3">
                          {% csrf_token %}
                          {{ comicratingform | bootstrap }}
    		                  <input type="submit" value="Submit" name="ComicRating" class="btn btn-primary mb-3" style="background-color: #2E2E2E; border: none;"/>
                      </div>
		              </form>
                {% endif %}
              </div>
              </br>
            </div>
            </br>
            <!-- Publishing info -->
            <div>
              <div class="row">

              </div>
                <div><strong>Writer</strong>: {{ comic_entry.writer }}</div>
                <div><strong>Illustrator</strong>: {{ comic_entry.illustrator }}</div>
                <div><strong>Colorist</strong>: {{ comic_entry.colorist }}</div>
                <div><strong>Publisher</strong>: {{ comic_entry.publisher }}</div>
                </br>
            </div>

          </div>

          <!-- long info and comments -->
          <div class="col-sm-8 order-sm-1">
            </br>
            <!-- info -->
            <div class="row comic-info">
              <div class="col-sm-12">

                <div class="border-bottom"><strong>Synopsis:</strong></div>
                <div>{{ comic_entry.spoiler_free_synopsis }}</div>
                </br>

                <a class="border-bottom btn btn-light" data-toggle="collapse" href="#spoiler" aria-expanded="false" aria-controls="#spoiler">Full Plot (Spoilers)</a>
                <div class="collapse border-top" id="spoiler">
                  {{ comic_entry.full_synopsis }}
                </div>
                </br>
                </br>

                <div class="border-bottom"><strong>Characters:</strong></div>
                <div>{{ comic_entry.characters }}</div>
                </br>

              </div>
            </div>
            </br>
            </br>
          </div>
        </div>
      </div>
      </br>

      <div class="container">
        <!--comments -->
        <div class="row">
          <div class="col-sm-12 border-bottom">
            <strong>Comments</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 bg-light" style="border-left: 3px solid #2E2E2E">
            <ul>
              {% if comic_comment_list %}
                {% for comic_comment in comic_comment_list %}
                  </br>
                  <div class="mr-3"><img src="{{ comic_comment.user_profile_id.profile_picture }}" alt="user pic here" style="width:64px;height:64px;">
                     {{ comic_comment.user_profile_id}} at {{ comic_comment.timestamp }}</div>
                  <div>{{ comic_comment.content }}</div>
                {% endfor %}
              {% else %}
                  <div>No comments exists for id</div>
              {% endif %}
            </ul>
          </div>
        </div>


        <div class="row">
          <div class="comment">

            <form method="post" class="col-sm-12">
                {% csrf_token %}
                <div class="mr-3">
                    {{ comiccommentform | bootstrap }}
                </div>
                  <input type="submit" value="Submit" name="ComicComment" class="btn btn-primary mb-3" style="background-color: #2E2E2E; border: none;"/>
            </form>

          </div>
        </div>
      </div>
    {% else %}
        <p>No comic exists for id :(</p>
    {% endif %}


  </body>
</html>
