{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Comic Vault</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Comic Vault</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
          <li class="nav-item"><a href="{% url 'search' %}" class="nav-link">Search</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        </ul>
    </nav>


    <div class="container">

      <div class="row info">
        <div class"col-sm-4" style="background-color:cyan;">
          {% if comic_entry %}
            {% for comic in comic_entry %}
              <div class="titleText" >{{ comic.series }}</div>
              <div>Vol: {{ comic.volume }}</div>
              <div>Issue: {{ comic.issue }}</div>
              <div>Writer: {{ comic.writer }}</div>
              <div>illustrator: {{ comic.illustrator }}</div>
              <div>colorist: {{ comic.colorist }}</div>
              <div>publisher: {{ comic.publisher }}</div>
              <div>cover_art:</div> <img src="{{ comic.cover_art }}" alt="comic cover here">
              <div>spoiler_free_synopsis: {{ comic.spoiler_free_synopsis }}</div>
              <div>full_synopsis: {{ comic.full_synopsis }}</div>
              <div>characters: {{ comic.characters }}</div>
              <div>average_rating: {{ comic.average_rating }}</div>

            {% endfor %}
          {% else %}
              <p>No comic exists for id</p>
          {% endif %}
        </div>
        <div class"col-sm-8"  style="background-color:red;">

          <div>IT"S NOT GETTING INTO COLUMNS</div>

        </div>
      </div>

    </br>
    </br>

      <div class="row">
        <div class"col-sm-8" style="background-color:cyan;">
          <ul>
            {% if comic_comment_list %}
              {% for comic_comment in comic_comment_list %}
                <div><img src="{{ comic_comment.user_profile_id.profile_picture }}" alt="user pic here" style="width:64px;height:64px;">
                   {{ comic_comment.user_profile_id }} at {{ comic_comment.timestamp }}</div>
                <div>{{ comic_comment.content }}</div>

              {% endfor %}
            {% else %}
                <div>No comments exists for id</div>
            {% endif %}
          </ul>

        </div>
        <div class"col-sm-4"  style="background-color:red;">
          <div>aaa</div>
        </div>
      </div>

    </div>
  </body>
</html>
