<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ news_item.general_news_id.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


</head>

<style>
			body{
				background-image: url("https://img00.deviantart.net/283a/i/2014/006/4/d/comic_book_collage_by_comicsnjunk-d716r2k.png");
				background-repeat: no-repeat;
				background-size: cover;
			}

			h1, p{
				color: white;
			}

			h1{
				font-weight: 100;
				font-family: Impact, Charcoal, sans-serif;
			}

			p, .comments{
				font-family: "Times New Roman", Times, serif;
			}

</style>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Comic Vault</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
					<li class="dropdown">
	            <a class="nav-link dropdown-toggle bg-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
	               aria-expanded="false">Search</a>
	            <div class="dropdown-menu bg-dark navbar-dark navbar-expand-lg">
	                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'search' %}">Comic Search</a>
	                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'usersearch' %}">User Search</a>
	            </div>
	        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item active"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        </ul>
    </nav>
			{% load bootstrap %}
		<div class="container-fluid">
			<div class="col-sm-12 text-center" style="margin-top:40px; background-color: #971E0B; padding:15px; opacity: 0.9;">
					<a href="{{ news_item.general_news_id.url }}" style="color: grey;" target="_blank"><h1>{{ news_item.general_news_id.title }}</h1></a>
			</div>
			<div class="col-sm-12 text-center content" style="font-size:25px; margin-top: 40px; background-color: #97430B; padding: 20px; opacity: 0.9;">
					<p>{{ news_item.general_news_id.content }}</p>
			</div>

			<div class="col-sm-10 comments" style="margin-left: 40px;">
      		<div class="col-sm-12 border-bottom" style="margin-top: 60px;">
          		<h4 style="color: white; font-size: 28px;">Comments</h4>
      		</div>

        	{% if item_comment_list %}
              {% for item_comment in item_comment_list %}
								<li class="media my-3 mr-3" style="border-left: 5px solid #000000; background-color: #dcdcdc">
										<a class="pr-3 ml-3 mt-3 my-3" href="#">
												<img src="{{ item_comment.user_profile_id.profile_picture }}"
														alt="Profile Picture" height="64px" width="64px">
										</a>
										<div class="media-body">
											<h5 class="mt-3"><a
														href={% url 'profile' item_comment.user_profile_id.id %} style="color: #1C1B1D; font-size: 20px; font-weight: bold;">{{ item_comment.user_profile_id.first_name }} {{ item_comment.user_profile_id.last_name }}</a>
											</h5>
											<p style="color: black;">{{ item_comment.content | urlize }}</p>
											<p style="color:#6d6d6c;"> {{ item_comment.timestamp }} </p>
									  </div>
								</li>
              {% endfor %}
          {% else %}
              <div style="color: white; font-size: 20px;">No comments</div>
          {% endif %}

			</div>

      <div class="comment">
          <form method="post" class="col-sm-10" style="margin-left: 40px;">
              {% csrf_token %}
              <div class="mr-3">
                  {{ itemCommentForm | bootstrap }}
              </div>
                <input type="submit" value="Submit" name="ItemComment" class="btn btn-primary mb-3 btn-lg" style="background-color: #28272A; border: none;"/>
          </form>
      </div>

		</div>
</body>
</html>
