<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ user_profile.first_name }} {{ user_profile.last_name }} Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

		<script>
			function change() {
				var elem = document.getElementById("followButton");
				if (elem.value=="Follow") elem.value = "Following";
				else elem.value = "Follow";
			}
		</script>

    <style>

		.row{
			height: 100%;
		}

    img {
    		width: 100%;
				border: 3px solid black;
				margin: 10px;
				padding: 15px;
		}

		h1, h6{
			padding-top: 40px;
			font-weight: bold;
			color: 	#191970;
		}

		h6{
			font-size: 25px;
		}

		p{
			color: 	#191970;
			font-size: 20px;
		}

		.info{
			border-left: 3px solid black;
			background-color: #EEE;
			margin-top: 10px;
		}

		.badge{
			 background: #FFFAF0;
			 color: #000000;
		}

		.btn-info {
    	  background: #483D8B;
    	  border-color: #483D8B;
		}

		#followButton{
				background: #13BD1F;
		}

  	#following, #followers{
        text-decoration: none;
        overflow-y: scroll;
				max-height: 100px;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Comic Vault</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
          <li class="nav-item"><a href="{% url 'search' %}" class="nav-link">Search</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item active"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        </ul>
    </nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 sidepanel">
				<img class="img-responsive" src="{{ user_profile.profile_picture }}" class="img-rounded" alt="Profile Picture">
			</div>

			<div class="col-sm-6 text-center info">
  			<h1>{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
				<div class="persona" style="font-style: italic; color: #191970;">
					<p>{{ user_profile.comic_persona }}</p>
				</div>
				<div class="bio">
					<h6>Bio:</h6>
					<form method="post">
						{% csrf_token %}
						{{ profileform.bio }}
						<button type="submit">Submit</button>
					</form>
					<p>{{ user_profile.bio }}</p>
				</div>
				<div class="preferences">
					<div class="row">
						<div class="col-sm-6">
			 				<h6>Favorite Character:</h6>
			 				<p>{{ user_profile.favorite_character }}</p>
			 			</div>
			 			<div class="col-sm-6" style="border-left: 3px solid black;">
			 				<h6>Comic Genre Preference:</h6>
			 					<p>{{ user_profile.comic_type }}</p>
			 			</div>
			 		</div>
			 	</div>
			</div>

			<div>
				<div class="btn-group-vertical" style="padding: 10px;">
					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#following">Following <span class="badge">{{ following_count }}</span></button>
					<div id="following" class="collapse">
							<div class="list-group">
								{% if followers %}
									{% for follower in followers %}
 										<a href={% url 'profile' follower.id_1_id %} class="list-group-item">{{ follower.id_1.first_name }} {{ follower.id_1.last_name }}</a>
									{% endfor %}
								{% endif %}
							</div>
					</div>
					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#followers">Followers <span class="badge">{{ follower_count }}</span></button>
					<div id="followers" class="collapse">
							<div class="list-group">
								{% if following %}
									{% for follow in following %}
										<a href={% url 'profile' follow.id_2_id %} class="list-group-item">{{ follow.id_2.first_name }} {{ follow.id_2.last_name }}</a>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>

				<div class="follow_button" style="margin: 10px">
					{% if user_profile.id != logged_in_user.id %}
						<input type="button" value="Follow" id="followButton"></input>
					{% endif %}
					{% for follower in followers %}
						{% if follower.id_1_id == logged_in_user.id %}
							<script>change();</script>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
