{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ user_profile.first_name }} {{ user_profile.last_name }} Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

				<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
				<link rel="stylesheet" type="text/css" href="{% static 'Vault/styles/search-style.css' %}">

		<script>
			function reloadFun() {
    		location.reload();
			}

		</script>

    <style>

		body{
			background-color: #cd0000;
			background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
		}

		.all{
			height: 100%;
		}

    img {
    		width: 100%;
				margin: 10px;
				padding: 15px;
				border: 6px solid white;
				border-radius: 12px;
				background: white;
		}

		h1{
			background: #FFFFFF;
			padding-bottom: 10px;
		}

		h1, h6{
			padding-top: 10px;
			color: #000000;
			font-weight: 100;
			font-family: 'Bangers', Charcoal, sans-serif;
		}

		h6{
			font-size: 25px;
		}

		p{
			font-size: 26px;
			color: #000000;
			font-weight: 100;
			font-family: 'Bangers', Charcoal, sans-serif;
		}

		.info{
			margin-top: 10px;
			margin-left: 2px;
			margin-bottom: 20px;
			padding-left: 40px;
			padding-right: 40px;
		}

		.badge{
			 background: #FFFAF0;
			 color: #000000;
			 font-size: 14px;
		}

		.btn {
    	  background: #323238;
    	  border-color: #323238;
				color: #FFFFFF;
				font-family: 'Bangers', Charcoal, sans-serif;
				font-size: 18px;
		}

		.btn:hover{
				background-color: #8A8A8C;
		}

		.favChar, .comicType, .bio, .name{
				background:#FFFFFF;
				margin-top: 30px;
				padding-bottom: 10px;
		}

		.favChar, .comicType{
				margin-bottom: 30px;
		}

		.persona{
				background: #FFFFFF;
				margin-top: 30px;
		}

  	#following, #followers{
        text-decoration: none;
        overflow-y: scroll;
				max-height: 100px;
				font-size: 16px;
				font-weight: bold;
    }


    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style= "color:white; 	font-family: 'Bangers', Charcoal, sans-serif;">Comic Vault</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
        <li class="dropdown">
            <a class="nav-link dropdown-toggle bg-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Search</a>
            <div class="dropdown-menu bg-dark navbar-dark navbar-expand-lg">
                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'search' %}">Comic Search</a>
                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'usersearch' %}">User Search</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item active"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
</nav>
	{% load bootstrap %}
	<div class="container-fluid">
		<div class="row all">
			<div class="col-sm-4 sidepanel">
					<img class="img-responsive" style="margin-top: 25px; height:425px; width:425px;" src="{{ user_profile.profile_picture }}" class="img-rounded" alt="Profile Picture">
				{% if user_profile.profile_picture != "" and user_profile.id == logged_in_user.id %}
				<button type="button" class="btn" data-toggle="collapse" data-target="#EditPic" style="margin-left: 10px;">Edit Profile Picture</button>
					<div id="EditPic" class="collapse">
						<form method="post" style="margin-left: 10px;">
								{% csrf_token %}
										{{ pictureform | bootstrap }}
								<input type="submit" value="Update" name="ProfilePic" class="btn" onclick="reloadFun()"/>
						</form>
					</div>
				{% endif %}
			</div>

			<div class="col-sm-6 info">
				<div class="name rounded-box" style="margin-top: 25px;">
  				<h1>Name :    {{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
				</div>
				<div class="persona rounded-box" style="font-style: italic; margin-top: 25px;">
					{% if user_profile.comic_persona == "" and user_profile.id == logged_in_user.id %}
					 <p class="text-center">Persona :  </p>
						<form method="post" style="margin: 10px;">
	            	{% csrf_token %}
	                	{{ comicpersonaform | bootstrap }}
	            	<input type="submit" value="Submit" name="ComicPersona" class="btn" style="margin-left: 200px;"/>
	        	</form>
					{% endif %}
					{% if user_profile.comic_persona != "" %}
						<p class="text-center">Persona :  {{ user_profile.comic_persona }}</p>
					{% endif %}
					{% if user_profile.comic_persona != "" and user_profile.id == logged_in_user.id %}
					<button type="button" class="btn" data-toggle="collapse" data-target="#EditPersona" style="margin-left: 200px;">Edit Persona</button>
						<div id="EditPersona" class="collapse">
							<form method="post" style="margin: 10px;">
	            		{% csrf_token %}
	                		{{ comicpersonaform | bootstrap }}
	            		<input type="submit" value="Update" name="ComicPersona" class="btn" onclick="reloadFun()" style="margin-left: 200px;"/>
	        		</form>
						</div>
					{% endif %}
				</div>
				<div class="bio rounded-box" style="margin-top: 25px;">
					<p>Bio:</p>
					{% if user_profile.bio == "" and user_profile.id == logged_in_user.id %}
						<form method="post" style="margin: 10px;">
	            	{% csrf_token %}
	                	{{ bioform | bootstrap }}
	            	<input type="submit" value="Submit" name="Bio" class="btn" style="margin-left: 25px;"/>
	        	</form>
					{% endif %}
					{% if user_profile.bio != "" %}
						<p style="padding-left: 25px;">{{ user_profile.bio }}</p>
					{% endif %}
					{% if user_profile.bio != "" and user_profile.id == logged_in_user.id %}
					<button type="button" class="btn" data-toggle="collapse" data-target="#EditBio" style="margin-left: 25px; font-style: italic;">Edit Bio</button>
						<div id="EditBio" class="collapse">
							<form method="post" style="margin: 10px;">
	            		{% csrf_token %}
	                		{{ bioform | bootstrap }}
	            		<input type="submit" value="Update" name="Bio" class="btn" onclick="reloadFun()" style="margin-left: 25px;"/>
	        		</form>
						</div>
					{% endif %}
				</div>
				<div class="col-sm-12 rounded-box" style="margin-top: 25px;">
				<div class="row">
						<div class="col-sm-6 favChar">
			 				<p><u>Favorite Character:</u></p>
							{% if user_profile.favorite_character == "" and user_profile.id == logged_in_user.id %}
								<form method="post" style="margin: 10px;">
			            	{% csrf_token %}
			                	{{ favcharform | bootstrap }}
			            	<input type="submit" value="Submit" name="FavChar" class="btn" style="margin-left: 25px;"/>
			        	</form>
							{% endif %}
							{% if user_profile.favorite_character != "" %}
			 					<p style="padding-left: 25px;">{{ user_profile.favorite_character }}</p>
							{% endif %}
							{% if user_profile.favorite_character != "" and user_profile.id == logged_in_user.id %}
							<button type="button" class="btn" data-toggle="collapse" data-target="#EditChar" style="margin-left: 25px;">Edit Character</button>
								<div id="EditChar" class="collapse">
									<form method="post" style="margin: 10px;">
			            		{% csrf_token %}
			                		{{ favcharform | bootstrap }}
			            		<input type="submit" value="Update" name="FavChar" class="btn" onclick="reloadFun()" style="margin-left: 25px;"/>
			        		</form>
								</div>
							{% endif %}
			 			</div>
			 			<div class="col-sm-6 comicType" style="border-left: 3px solid #000;">
			 				<p><u>Comic Genre Preference:</u></p>
							{% if user_profile.comic_type == "" and user_profile.id == logged_in_user.id %}
								<form method="post" style="margin: 10px;">
			            	{% csrf_token %}
			                	{{ comictypeform | bootstrap }}
			            	<input type="submit" value="Submit" name="ComicType" class="btn" style="margin-left: 25px;"/>
			        	</form>
							{% endif %}
							{% if user_profile.comic_type != "" %}
			 					<p style="padding-left: 25px;">{{ user_profile.comic_type }}</p>
							{% endif %}
							{% if user_profile.comic_type != "" and user_profile.id == logged_in_user.id %}
							<button type="button" class="btn" data-toggle="collapse" data-target="#EditType" style="margin-left: 25px;">Edit Comic Type</button>
								<div id="EditType" class="collapse">
									<form method="post" style="margin: 10px;">
			            		{% csrf_token %}
			                		{{ comictypeform | bootstrap }}
			            		<input type="submit" value="Update" name="ComicType" class="btn" onclick="reloadFun()" style="margin-left: 25px;"/>
			        		</form>
								</div>
							{% endif %}
			 			</div>
					</div>
				</div>
			</div>

			<div>
				<div style="position: absolute;">
				<div class="col-sm-1">
				<div class="btn-group-vertical" style="padding-top: 35px; padding-left: 10px;">
					<button type="button" class="btn" data-toggle="collapse" data-target="#following" style="padding-left: 25px; padding-right:25px;">Followers <span class="badge">{{ follower_count }}</span></button>
					<div id="following" class="collapse">
							<div class="list-group">
								{% if followers %}
									{% for follower in followers %}
 										<a href={% url 'profile' follower.id_1_id %} class="list-group-item" style="color:#0a0b2b;">{{ follower.id_1.first_name }} {{ follower.id_1.last_name }}</a>
									{% endfor %}
								{% endif %}
							</div>
					</div>
					<button type="button" class="btn" data-toggle="collapse" data-target="#followers" style="padding-left: 25px; padding-right:25px;">Following <span class="badge">{{ following_count }}</span></button>
					<div id="followers" class="collapse">
							<div class="list-group">
								{% if following %}
									{% for follow in following %}
										<a href={% url 'profile' follow.id_2_id %} class="list-group-item" style="color:#0a0b2b;">{{ follow.id_2.first_name }} {{ follow.id_2.last_name }}</a>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				<div class="follow_button" style="margin: 25px;">

				{% if user_profile.id != logged_in_user.id %}
						{% if checkFollow == 1 %}
							<form method="post">
								<button name="Unfollow" class="btn btn-success btn-lg" style="background-color: #0B4502;">
										{% csrf_token %}
										{{ followform }}
									<input type="hidden">Following</input>
								</button>
							</form>
						{% endif %}
					{% if checkFollow == 0 %}
						<form method="post">
							<button name="Follow" class="btn btn-success btn-lg" style="background-color: #0B4502;">
									{% csrf_token %}
									{{ followform }}
									<input type="hidden">Follow</input>
						  </button>
						</form>
					{% endif %}
				 {% endif %}
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
