<!DOCTYPE html>
<html lang = "en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<title>Comic Vault - Search</title>
	</head>
	<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Comic Vault</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'timeline' %}">My Timeline</a></li>
          <li class="active"><a href="{% url 'search' %}">Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.userprofile.id %}"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        </ul>
        </div>
    </nav>

		<div class = "container">
			<div class = "row">
				<h1>Find a Comic</h1>
			</div>

			<br />

			<div class = "row">
				<h3>Quick Search by Title:</h3>

				<ul class = "nav nav-tabs">
					<li class = "nav=item">
						<a class = "nav-link" href = "#">A</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">B</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">C</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">D</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">E</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">F</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">G</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">H</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">I</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">J</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">K</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">L</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">M</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">N</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">O</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">P</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">Q</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">R</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">S</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">T</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">U</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">V</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">W</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">X</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">Y</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">Z</a>
					</li>
				</ul>
			</div>

			<br />

			<div class = "row">
				<h3>Advanced Search</h3>
			</div>

			<form>
				<div class = "row">
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Title">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Series">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Volume">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Issue">
					</div>
				</div>

				<br />

				<div class = "row">
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Publisher">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Writer">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Illustrator">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Colorist">
					</div>
				</div>

				<br />

				<div class = "row">
					<div class = "col">
						<button type = "submit" class = "btn btn-primary">Go!</button>
					</div>
				</div>
			</form>

			<br />
			<hr>

		</div>

		<div class = "container">
			<ul class = "list-unstyled">
				<li class = "media" style="border-left: 3px solid #4285F4; background-color: #EEE">
					<img class = "align-self-center ml-3 mr-3" src="https://vignette.wikia.nocookie.net/x-men/images/1/1d/Uncanny_X-Men_1.jpg/revision/latest?cb=20080818060037" alt="Cover Art" height="270" width="180">
					<div class="media-body">
						<h5 class = "mt-0 mb-1">X-Men</h5>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-1">Series</dt>
							<dd class = "col-xs 6 col-sm-1 col-md-1">1</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-1">Volume</dt>
							<dd class = "col-xs 6 col-sm-1 col-md-1">1</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-1">Issue</dt>
							<dd class = "col-xs 6 col-sm-1 col-md-1">1</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-2">Publisher</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">Marvel</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-2">Writer(s)</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">Stan Lee</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-2">Illustrator(s)</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">Jack Kirby, Paul Reinmen</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-2">Colorist(s)</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">Uncredited</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-md-2">Plot Synopsis</dt>
							<dd class = "col-md-10">At Xavier's School for Gifted Youngsters in Westchester County, New York, Professor Charles Xavier summons his students telepathically. When the Beast, Angel, Iceman, and Cyclops arrive, he puts them through a series of exercises to hone their mutant talents. Xavier then introduces them to a new student, Marvel Girl, to whom he explains the purpose of his school: his students do receive an education, but they are also the first line of defense against evil mutants.</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

	</body>
</html>