<!DOCTYPE html>
<html lang = "en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<title>Comic Vault - Search</title>
		
		<style>
			h1 {
				font-family: Impact, Charcoal, sans-serif;
			}
			body {
				background-color: #cd0000
			}
			
		</style>
	</head>
	
	<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Comic Vault</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
        <li class="dropdown active">
            <a class="nav-link dropdown-toggle bg-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Search</a>
            <div class="dropdown-menu bg-dark navbar-dark navbar-expand-lg">
                <a class="dropdown-item active nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'search' %}">Comic Search</a>
                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'usersearch' %}">User Search</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}

	</ul>
	</nav>

		<br />
		
		<div class = "container" style="background-color: white; border-radius: 10px; padding: 25px 50px 25px">
			<div class = "row">
				<h1>Find a Comic</h1>
			</div>
			
			<br />
			
			<div class = "row">
				<p>Enter some terms below to narrow search results!</p>
			</div>

			<form action="" method="get">
				{% for error in form.non_field_errors %}
				<div class="form-group has-errors text-danger small">
					{{error}}
				</div>
				{% endfor %}
				
				<div class = "row form-group">
					<div class = "col-xs-6 col-md-3 form-group">
						{{form.series.errors}}
						{{form.series}}
					</div>
					<div class = "col-xs-6 col-md-3 form-group">
						{{form.volume.errors}}
						{{form.volume}}
					</div>
					<div class = "col-xs-6 col-md-3 form-group">
						{{form.issue.errors}}
						{{form.issue}}
					</div>
				</div>
				
				<div class = "row">
					<div class = "col-xs-6 col-md-3 form-group">
						{{form.publisher.errors}}
						{{form.publisher}}
					</div>
					<div class = "col-xs-6 col-md-3 form-group">
						{{form.writer.errors}}
						{{form.writer}}
					</div>
					<div class = "col-xs-6 col-md-3 form-group">
						{{form.illustrator.errors}}
						{{form.illustrator}}
					</div>
					<div class = "col-xs-6 col-md-3 form-group">
						{{form.colorist.errors}}
						{{form.colorist}}
					</div>
				</div>

				<br />

				<div class = "row">
					<div class = "col">
						<button type = "submit" class = "btn btn-dark">Go!</button>
					</div>
				</div>
			</form> 
			
		</div>
		
		<br />

		<div class = "container" style="background-color: white; border-radius: 10px; padding: 25px 50px 25px">
		{% if comics %}
		
			{% if comics.has_other_pages %}
				<nav>
					<ul class="pagination justify-content-end">
							{% if comics.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{ comics.previous_page_number }}">&laquo;</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="page-link">&laquo;</span>
								</li>
							{% endif %}
							
							{% for i in comics.paginator.page_range %}
								{% if comics.number == i%}
									<li class="page-item active">
										<span class="page-link">{{ i }}</span>
									</li>
								{% else %}
									<li class="page-item">
										<a class="page-link" href="?page={{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}
							{% if comics.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ comics.next_page_number }}">&raquo;</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="page-link">&raquo;</span>
								</li>
							{% endif %}
					</ul>
				</nav>
			{% endif %}
			
			<ul class = "list-unstyled">
			{% for comic in comics %}
				<li class = "media my-4" style="border-left: 3px solid #2E2E2E; background-color: #EEE">
					<img class = "m-3" src={{comic.cover_art}} alt="Cover Art" height="270" width="180">
					<div class="media-body">
						<h4 class = "mt-3 mb-1">
							<a href={% url 'comicpage' comic.id%}>{{comic.series}}</a>
						</h4>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-1">Volume</dt>
							<dd class = "col-xs 6 col-sm-1 col-md-1">{{comic.volume}}</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-1">Issue</dt>
							<dd class = "col-xs 6 col-sm-1 col-md-1">{{comic.issue}}</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-2">Publisher</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.publisher}}</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-2">Writer</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.writer}}</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-2">Illustrator</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.illustrator}}</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-2">Colorist</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.colorist}}</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-md-2">Plot Synopsis</dt>
							<dd class = "col-md-10">{{comic.spoiler_free_synopsis}}</dd>
						</dl>
					</div>
				</li>
			{% endfor %}
			</ul>
			
		{% else %}
			<div class = "row">
				<div class = "col">
					<h5>No results.</h5>
				</div>
			</div>
		{% endif %}
		</div>
		
		<br />
	</body>
</html>