<!DOCTYPE html>
<html lang = "en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<title>Comic Vault - Search</title>
	</head>
	<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Comic Vault</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
          <li class="nav-item active"><a href="{% url 'search' %}" class="nav-link">Search</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        </ul>
    </nav>

		<div class = "container">
			<div class = "row">
				<h1>Find a Comic</h1>
			</div>

			<br />

			<div class = "row">
				<h3>Quick Search by Title:</h3>

				<ul class = "nav nav-tabs">
					<li class = "nav=item">
						<a class = "nav-link" href = "#">A</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">B</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">C</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">D</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">E</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">F</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">G</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">H</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">I</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">J</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">K</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">L</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">M</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">N</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">O</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">P</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">Q</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">R</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">S</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">T</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">U</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">V</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">W</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">X</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">Y</a>
					</li>
					<li class = "nav=item">
						<a class = "nav-link" href = "#">Z</a>
					</li>
				</ul>
			</div>

			<br />

			<div class = "row">
				<h3>Advanced Search</h3>
			</div>

			<form>
				<div class = "row">
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Title">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Series">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Volume">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Issue">
					</div>
				</div>

				<br />

				<div class = "row">
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Publisher">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Writer">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Illustrator">
					</div>
					<div class = "col-xs-6 col-md-3">
						<input type="text" class="form-control" placeholder="Colorist">
					</div>
				</div>

				<br />

				<div class = "row">
					<div class = "col">
						<button type = "submit" class = "btn btn-dark">Go!</button>
					</div>
				</div>
			</form>

			<br />
			<hr>

		</div>

		<div class = "container">
		{% if comic_list %}
			<ul class = "list-unstyled">
			{% for comic in comic_list %}
				<li class = "media" style="border-left: 3px solid #2E2E2E; background-color: #EEE">
					<img class = "ml-3 mr-3" src={{comic.cover_art}} alt="Cover Art" height="270" width="180">
					<div class="media-body">
						<h5 class = "mt-0 mb-1">{{comic.series}}</h5>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-1">Volume</dt>
							<dd class = "col-xs 6 col-sm-1 col-md-1">{{comic.volume}}</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-1">Issue</dt>
							<dd class = "col-xs 6 col-sm-1 col-md-1">{{comic.issue}}</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-2">Publisher</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.publisher}}</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-xs 6 col-sm-3 col-md-2">Writer</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.writer}}</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-2">Illustrator</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.illustrator}}</dd>

							<dt class = "col-xs 6 col-sm-3 col-md-2">Colorist</dt>
							<dd class = "col-xs 6 col-sm-3 col-md-2">{{comic.colorist}}</dd>
						</dl>
						<dl class = "row">
							<dt class = "col-md-2">Plot Synopsis</dt>
							<dd class = "col-md-10">{{comic.spoiler_free_synopsis}}</dd>
						</dl>
					</div>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<div class = "row">
				<div class = "col">
					<h5>No results.</h5>
				</div>
			</div>
		{% endif %}
		</div>
	</body>
</html>