{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Vault - Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'Vault/styles/search-style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style= "color:white; font-family: 'Bangers', Charcoal, sans-serif;">Comic Vault</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
        <li class="dropdown">
            <a class="nav-link dropdown-toggle bg-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Search</a>
            <div class="dropdown-menu bg-dark navbar-dark navbar-expand-lg">
                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'search' %}">Comic Search</a>
                <a class="dropdown-item nav-item text-light navbar navbar-expand-lg navbar-dark bg-dark" href="{% url 'usersearch' %}">User Search</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item active"><a href="{% url 'signup' %}" class="nav-link"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span
                    class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
</nav>
{% load bootstrap %}
{% block content %}
    <div class="container w-80 form-group media rounded-box" style="border-left: 3px solid #2E2E2E; background-color: #EEE; margin-top: 25px">
        <form method="post">
            <h2 class="my-4" style="font-family: 'Bangers', Charcoal, sans-serif;">Sign up</h2>
            {% csrf_token %}
            {% for field in form %}
                    {{ field | bootstrap }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
            {% endfor %}
            <input type="submit" value="Submit" name="Submit" class="btn btn-primary mb-3" style="background-color: #2E2E2E; border: none;"/>
        </form>
    </div>
{% endblock %}
</body>
</html>
