<!DOCTYPE html>
<html lang = "en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<title>Comic Vault - Search</title>
	</head>
	<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Comic Vault</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{% url 'timeline' %}" class="nav-link">My Timeline</a></li>
          <li class="nav-item active"><a href="{% url 'search' %}" class="nav-link">Search</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'profile' user.userprofile.id %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> {{ user.userprofile.first_name }} </a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        </ul>
    </nav>
		
		<br />
		
		<div class = "container">
			<div class = "row">
				<h1>Find a User</h1>
			</div>

			<br />

			<form action="" method="get">
				{% for error in form.non_field_errors %}
				<div class="form-group has-errors text-danger small">
					{{error}}
				</div>
				{% endfor %}
				
				<div class = "row form-group">
					<div class="col-xs-6 col-md-3 form-group">
						{{form.first_name.errors}}
						{{form.first_name}}
					</div>
					<div class="col-xs-6 col-md-3 form-group">
						{{form.last_name.errors}}
						{{form.last_name}}
					</div>
				</div>
				
				<br />

				<div class = "row">
					<div class = "col">
						<button type = "submit" class = "btn btn-dark">Go!</button>
					</div>
				</div>
			</form> 
			
			<br />
			<hr>

		</div>

		<div class = "container">
		{% if users %}
		
			{% if users.has_other_pages %}
				<nav>
					<ul class="pagination justify-content-end">
							{% if users.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="page-link">&laquo;</span>
								</li>
							{% endif %}
							
							{% for i in users.paginator.page_range %}
								{% if users.number == i%}
									<li class="page-item active">
										<span class="page-link">{{ i }}</span>
									</li>
								{% else %}
									<li class="page-item">
										<a class="page-link" href="?page={{ i }}">{{ i }}</a>
									</li>
								{% endif %}
							{% endfor %}
							{% if users.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<span class="page-link">&raquo;</span>
								</li>
							{% endif %}
					</ul>
				</nav>
			{% endif %}
			
			<ul class = "list-unstyled">
			{% for user in users %}
				<li class = "media my-4" style="border-left: 3px solid #2E2E2E; background-color: #EEE">
					<img class = "m-3" src={{user.profile_picture}} alt="Profile Pic" height="64px" width="64px">
					<div class="media-body">
						<h5 class = "mt-3 mb-1">
							<a href={% url 'profile' user.id%}>{{user.first_name}} {{user.last_name}}</a>
						</h5>
						<p>{{user.bio|truncatechars:100}}</p>
					</div>
				</li>
			{% endfor %}
			</ul>
			
		{% else %}
			<div class = "row">
				<div class = "col">
					<h5>No results.</h5>
				</div>
			</div>
		{% endif %}
		</div>
	</body>
</html>